In [9]:
import os
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
HTML_DIR = "data/scores"
OUTPUT_CSV = "data/line_scores.csv"

rows = []

for filename in os.listdir(HTML_DIR):
    if not filename.endswith(".html"):
        continue

    file_path = os.path.join(HTML_DIR, filename)

    with open(file_path, "r", encoding="utf-8") as f:
        soup = BeautifulSoup(f, "html.parser")

    table = soup.find("table", id="line_score")
    if table is None:
        continue

    game_id = filename.replace(".html", "")
    tbody = table.find("tbody")

    for tr in tbody.find_all("tr"):
        team = tr.find("th", {"data-stat": "team"}).text.strip()

        def stat(name):
            cell = tr.find("td", {"data-stat": name})
            return int(cell.text) if cell else None

        rows.append({
            "game_id": game_id,
            "team": team,
            "Q1": stat("1"),
            "Q2": stat("2"),
            "Q3": stat("3"),
            "Q4": stat("4"),
            "total": stat("T")
        })

In [8]:
df = pd.DataFrame(rows)
print("Filas extraídas:", len(df))

df.to_csv(OUTPUT_CSV, index=False)
print("CSV creado:", OUTPUT_CSV)

Filas extraídas: 8854
CSV creado: data/line_scores.csv

In [13]:
df = pd.read_csv("data/line_scores.csv")

In [34]:
df.describe()

                Q1           Q2           Q3           Q4        total
count  8854.000000  8854.000000  8854.000000  8854.000000  8854.000000
mean     28.675288    28.513553    28.809013    27.468150   114.119155
std       6.030547     6.001787     6.071694     5.970318    12.627639
min       8.000000     8.000000     8.000000     8.000000    67.000000
25%      25.000000    24.000000    25.000000    23.000000   105.000000
50%      29.000000    28.000000    29.000000    27.000000   114.000000
75%      33.000000    33.000000    33.000000    32.000000   123.000000
max      55.000000    51.000000    52.000000    50.000000   176.000000

In [35]:
df.groupby("team")[["Q1", "Q2", "Q3", "Q4", "total"]].agg(["min", "mean", "max"])

      Q1                 Q2                 Q3                 Q4             \
     min       mean max min       mean max min       mean max min       mean
team
ATL   16  29.709343  45  16  30.065744  49   8  29.404844  43  14  28.197232
BOS   15  30.404908  46  14  29.779141  51  11  28.766871  45  12  26.920245
BRK   11  27.541219  47  11  27.738351  45  12  27.139785  44  12  26.559140
CHI   14  27.943262  40  11  28.141844  46  16  29.535461  44  14  28.035461
CHO   12  26.559567  51  10  26.711191  44   9  27.433213  45  10  27.267148
CLE   14  29.629508  50  12  28.304918  44  10  28.816393  45  12  27.727869
DAL   14  28.933993  47   8  28.607261  47  14  28.752475  51  11  27.610561
DEN    8  30.139319  49  15  29.095975  43  14  29.811146  47   9  26.950464
DET   10  28.265018  47  15  28.042403  46  13  28.643110  45  14  27.113074
GSW   10  28.401316  55  11  28.717105  50  15  30.016447  48  13  28.164474
HOU   12  28.308511  48  10  28.070922  46  12  29.049645  47  10  27.450355
IND   10  28.899687  49  13  29.589342  50  12  29.692790  50  13  28.573668
LAC   13  28.115646  44  14  28.064626  46  14  28.921769  45  14  27.704082
LAL   15  29.368421  46  13  29.582237  51  13  28.269737  44  13  27.700658
MEM    9  29.051903  48  15  28.238754  44  12  29.910035  51  10  26.903114
MIA   12  28.234177  53  12  28.123418  45  14  27.113924  46   8  26.411392
MIL   13  29.861017  49  12  28.684746  47  14  29.345763  46   9  27.759322
MIN    9  28.506329  44  11  27.943038  46  13  29.000000  52  12  27.816456
NOP   10  28.283217  48  14  28.045455  47  11  28.367133  45  10  27.692308
NYK   12  28.462500  48  15  29.053125  46  10  28.987500  47  13  27.171875
OKC   14  29.990415  49  16  29.680511  46  14  30.431310  48   9  27.817891
ORL   11  27.408935  50  13  27.611684  51  12  27.106529  43  12  26.958763
PHI   14  28.662116  45  12  28.549488  48  10  27.539249  45  12  27.368601
PHO   10  28.965753  46  14  28.530822  43  12  29.482877  50  11  26.818493
POR   14  27.194946  41  14  28.061372  47  14  28.314079  46  13  26.675090
SAC   12  29.233449  47  12  29.763066  47  12  29.076655  46  14  27.703833
SAS   11  28.388489  43  11  28.136691  46  14  28.823741  45  12  27.888489
TOR   12  28.078853  49  11  27.666667  43  16  28.587814  48  14  27.362007
UTA   13  28.321300  48  14  28.350181  42  14  29.404332  44  13  28.613718
WAS   15  28.578182  45  11  27.767273  46  13  28.152727  42  11  27.105455

         total
     max   min        mean  max
team
ATL   50    89  118.200692  152
BOS   46    76  116.763804  155
BRK   43    67  109.379928  147
CHI   44    89  114.673759  152
CHO   44    82  108.444043  145
CLE   47    79  115.108197  149
DAL   43    86  114.508251  148
DEN   43    70  116.743034  149
DET   43    81  112.614841  148
GSW   43    83  115.835526  157
HOU   42    85  113.638298  148
IND   49    82  117.401254  162
LAC   47    79  113.380952  175
LAL   44    80  115.618421  150
MEM   42    80  114.484429  155
MIA   45    83  110.484177  153
MIL   46    82  116.362712  150
MIN   45    80  114.034810  151
NOP   43    81  112.972028  153
NYK   46    73  114.434375  149
OKC   41    81  118.578275  153
ORL   43    74  109.539519  144
PHI   48    79  112.904437  147
PHO   43    83  114.404110  148
POR   42    77  110.938628  147
SAC   46    88  116.853659  176
SAS   45    82  113.809353  144
TOR   44    71  112.172043  143
UTA   45    86  115.501805  154
WAS   44    82  111.829091  142

In [25]:
stats = df.groupby("game_id")[["Q1", "Q2", "Q3", "Q4", "total"]].describe()

In [24]:
games = (
    df.groupby("game_id")[["Q1", "Q2", "Q3", "Q4", "total"]]
      .sum()
      .reset_index()
)

In [29]:
games.sort_values("Q1", ascending=True)

           game_id  Q1  Q2  Q3  Q4  total
574   202301040TOR  25  52  45  72    205
3931  202505110DEN  25  53  54  47    179
565   202301040CLE  29  47  47  55    178
2278  202403100NYK  30  38  51  33    152
4301  202512060CLE  30  51  53  59    193
...            ...  ..  ..  ..  ..    ...
3822  202504080OKC  86  66  43  61    256
4085  202511070MIA  86  55  41  52    234
1224  202304090NYK  86  58  63  70    277
3466  202502210HOU  86  49  56  45    236
1150  202303310CLE  89  62  56  39    246

[4427 rows x 6 columns]

In [31]:
games.describe()

                Q1           Q2           Q3           Q4        total
count  4427.000000  4427.000000  4427.000000  4427.000000  4427.000000
mean     57.350576    57.027106    57.618026    54.936300   228.238310
std       8.461202     8.552656     8.493546     8.972923    20.097591
min      25.000000    28.000000    27.000000    24.000000   152.000000
25%      52.000000    51.000000    52.000000    49.000000   215.000000
50%      57.000000    57.000000    57.000000    55.000000   228.000000
75%      63.000000    63.000000    63.000000    61.000000   241.000000
max      89.000000    86.000000    88.000000    90.000000   351.000000